.bg-color{

    background-color: #1c3c8a ;
}

.content-height{
    height: auto !important;
    margin-top: 5%;
    /* position: absolute; */
    position: relative;
    left: 12%;
}

.abt-img{

    height: 600px !important;
    /* position: absolute; */
    /* position: relative; */

    left: 50%;

}